// filepath: src/assets/scss/_variables.scss

$max-width: 1200px;
$color-primary: #263959;
$color-header-bg: #222;
$color-footer-bg: #222;
$color-text: #fff;
$color-link: #1da1f2;
$color-bg-light: #f7f9fc;