

<!-- Class section start -->
<section id="{{ page.section-type }}" class="container content-section ">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% for course in site.courses %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% capture class %}
          {% if loopindex == 0 %}
            timeline-inverted
          {% endif %}
          {% endcapture %}


          	<h4><strong>{{course.name}}</strong</h4> <br>
              <strong><a href="{{ course.slides }}" target="_blank" alt="{{course.slides}}">Slides</a></strong>
              	<small> | </small>
             <strong><a href="{{ course.repo }}" target="_blank" alt="{{course.repo}}">Repo</a></strong>

        {% endfor %}




    </div>
  </div>
</section>

<!-- Class section end -->
