// Variables
//http://paletton.com/palette.php?uid=53i0u0kb9nK3PA07lsjeIjQjcfO

$primary: #4A7272;
$dark: #202020;
$light: #C7D6D6;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
