// Variables
//http://paletton.com/palette.php?uid=53i0u0kb9nK3PA07lsjeIjQjcfO

$gray : #817f82;
$green : #007c91;
$mint : #006978;
$silver: #DDEDFF;
$prussian: #002a50;

$primary: $green;
$dark: $prussian;
$light: $silver;

$navbar-text-shadow: true;
$header-text-shadow: true;
$intro-text-shadow: true;
$header-background-color: $prussian;
$intro-text-color: #ffffff;
$navbar-color: white;
$navbar-lg-collapse-background-color: $green;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $green;

$body-color: black;
$body-background-color: #ffffff;

$social-buttons-color: $primary;
