---
layout: default
---
<main class="content" role="main">
  <article class="resume post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
        <div class="resume-container">
              <div class="skills">
                <h2>Skills</h2>
                {% for skill in site.data.resume.skills %}
                  <li class="skills">{{skill.name}} </li>
                {% endfor %}
              </div>
              <div class="education">
                <h2>Education</h2>
                {% for ed in site.data.resume.education %}
                <li>
                    <h4><strong>{{ed.school}}</strong></h4><h4>{{ed.degree}}</h4> <p class="time"> {{ed.time}}</p>
                </li>
                {% endfor %}
              </div>
              <div class="volunteer">
                <h2>Volunteer</h2>
                {% for vol in site.data.resume.volunteer %}
                <li>
                    <h4><strong>{{vol.group}}</strong> {{vol.title}}</h4> <p class="time"> {{vol.time}}</p>
                    <p>
                      {{vol.summary}}
                    </p>
                </li>
                {% endfor %}
              </div>
              <div class="experience">
                  <h2>Experience</h2>
                  {% for ex in site.data.resume.experience %}
                  <li>
                      <h4><strong>{{ex.name}}</strong> </br>{{ex.title}}</h4>
                      <p class="time"> {{ex.time}}</p>
                      <p>{{ex.summary}}</p>
                  </li>
                  {% endfor %}
              </div>
              <div class="publications">
                  <h2>Publications</h2>
                  {% for pub in site.data.resume.publications %}
                  <li class="publications">
                      <h4><a href="{{pub.link}}" target="_blank"><strong> {{pub.title}}</strong></a><h4>{{pub.publisher}}</h4>
                  </li>
                  {% endfor %}
              </div>


          </div>
          </article>
</main>

{% include footer.html %}
